<!--<div>
    <h3>{{title}}</h3>
    <div class="resource">
        <h4>Message - {{message}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li class="text" *ngFor="let item of items | async">
                {{item.code}}-{{item.price}}
            </li>
        </ul>
        <form (submit)="createNewProduct()">
            <table>
                <h4 align="center">New Product</h4>
                <tr>
                    <td>Name</td><td> <input type="text"  [(ngModel)]="newProd.prodName" name="prodName"/> </td>
                </tr>
                <tr>
                    <td>Code</td><td> <input type="text" [(ngModel)]="newProd.code" name="code"/> </td>
                </tr>
                <tr>
                    <td>Price</td><td> <input type="text" [(ngModel)]="newProd.price" name="price"/> </td>
                </tr>
            </table>
            <button type="submit">Create</button>
        </form>
        <button class="btn btn-primary" (click)="createNewUser()">Create New User</button>
        <button (click)="doLogin()">Login</button>
        <button (click)="updateUser()">Update User</button>
    </div>
</div>-->
<h1>here</h1>