<footer class="st-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="foot-heading">Reach Us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="foot-content">
                        <h6>India</h6>
                        <p>Site No. 15, Phase 1, Rajiv Gandhi
                            <br />Technology Park, Chandigarh UT 160101</p>
                        <ul>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@yourmail.com">info@yourmail.com</a>
                            </li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+919876543210">+91 98765 - 43210</a>
                            </li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">View in Google Maps</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="foot-content">
                        <h6>India</h6>
                        <p>Site No. 15, Phase 1, Rajiv Gandhi
                            <br />Technology Park, Chandigarh UT 160101</p>
                        <ul>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@yourmail.com">info@yourmail.com</a>
                            </li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+919876543210">+91 98765 - 43210</a>
                            </li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">View in Google Maps</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="foot-content">
                        <h6>India</h6>
                        <p>Site No. 15, Phase 1, Rajiv Gandhi
                            <br />Technology Park, Chandigarh UT 160101</p>
                        <ul>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@yourmail.com">info@yourmail.com</a>
                            </li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+919876543210">+91 98765 - 43210</a>
                            </li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">View in Google Maps</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="social-link">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <form class="newsletter-form">
                            <div class="form-group">
                                <label for="Newsletter">Sign Up for Email Alerts</label>
                                <input type="email" class="form-control" placeholder="Enter your email address">
                                <input type="submit" class="btn btn-default btn-sub" value="Subscribe">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        &nbsp;
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h6 class="social-head">Connect</h6>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Here -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <span>© 2016 Domainname.com. All Rights Reserved.</span>
                    <a href="#">Privacy Policy </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</footer>

 