<br/><br/><br/><br/><br/>
<div class="container">
  <h1>Sitemap</h1>
  <div class="row">
    <div class="col-md-8 col-sm-6">
      <section id="sec1">
        <h2>Category</h2>
        <div class="row">
          <div class="col-md-3">
            <ul *ngFor="let item of newCat | async" >
              <li><a href="category/{{item.name}}">{{item.name}}</a></li>
 
            </ul>
          </div>              
        </div>
      </section>
    </div>
    <!--  /col-md-4  -->
  </div>
</div>
<!-- /container -->