section {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
}

section .col-md-3 {
  border-left: 1px solid #ccc;
  padding-right:13px;
}

section .col-md-3:first-child {
  border: none;
}

@media screen and (max-width: 1200px) {
section .col-md-3 {
  border:none;
}
}