<main class="st-wrapper">
    <div class="st-content">
        <div Class="st-slider">
            <div class="img-pattern">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="left-sec">
                                <h1>Award Winning Web + Mobile App Design & Development</h1>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form_ri">
                            <div class="right-sec">
                                <div class="form-wrapper">
                                    <h5>Form Heading Include Here</h5>
                                    <form class="st-form" role="Connect Form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="tel" class="form-control" placeholder="Phone">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select Budget</option>
                                                <option>USD 1000 - USD 2000</option>
                                                <option>USD 2000 - USD 4000</option>
                                                <option>USD 4000 - USD 6000</option>
                                                <option>USD 6000 - USD 10000</option>
                                                <option>USD 10000 - USD 15000</option>
                                                <option>USD 15000 - USD 20000</option>
                                                <option>USD 20000 - USD 25000</option>
                                                <option>USD 25000 - USD 50000</option>
                                                <option>USD 50000+</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Message"></textarea>
                                        </div>
                                        <input type="submit" class="btn btn-default btn-form" value="Send Request">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext"></div>
                    <div class="text">Future Work Technologies Success Story: NatureBox raised $58.5 million.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext"></div>
                    <div class="text">Future Work Technologies Success Story: Caviar raised $15 million</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext"></div>
                    <div class="text">Future Work Technologies Success Story: Farmhill raised $5 million</div>
                </div>
            </div>
            <br>
            <div style="text-align:center; display:none;">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Slider Section End Here -->
        <div class="first-three">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="text-outer">
                                <h2>Startups</h2>
                                <h5>Launch and Scale your Product</h5>
                                <p>Go from product strategy to MVP in 12-16 weeks. Then, leverage our Agile and DevOps practices to deliver software faster and more reliably, helping you reduce your product's time-to-market.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="text-outer">
                                <h2>Enterprises</h2>
                                <h5>Deliver Exceptional Digital Experiences</h5>
                                <p>Use our experience design and application development services to build and optimize digital platforms and solutions for better customer and employee engagement.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="text-outer">
                                <h2>Agencies</h2>
                                <h5>Tap into our technical expertise</h5>
                                <p>Outsource to manage unpredictable workstreams and to access skills and digital knowledge that you don't possess in house. We do the heavy lifting while you focus on growing your business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-center text-center"> <a href="#" class="btn-req">Request Free Consultation</a> </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- First Sec End Here -->
        <div class="two-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="left-content">
                                <h1>What We Do</h1>
                                <p> As software takes a strategic role in customer led enterprises, application development and delivery capability have become the essential enablers of success. We combine Agile and design thinking practices to deliver digital platforms that your customers love. </p>
                                <ul>
                                    <li><a href="#">Outsourced Product Development</a>
                                    </li>
                                    <li><a href="#">Mobile App Development</a>
                                    </li>
                                    <li><a href="#">User Experience Design</a>
                                    </li>
                                    <li><a href="#">E-Commerce Solution</a>
                                    </li>
                                    <li><a href="#">Chatbot Development</a>
                                    </li>
                                    <li><a href="#">Liferay Development</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end here -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="right-content"> <img src="Images/what-we-do-img.png" alt="Image"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Second Section End Here -->
        <div class="project-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-8 col-sm-8 col-xs-12 no-padding">
                            <div class="img-outer">
                                <img src="../../Images/premier-league-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                            <div class="img-outer"> <img src="../../Images/sample-board-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                            <div class="img-outer"> <img src="../../Images/appee-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                            <div class="img-outer"> <img src="../../Images/coach-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                            <div class="img-outer"> <img src="../../Images/jaypore-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                            <div class="img-outer"> <img src="../../Images/velti-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                            <div class="img-outer"> <img src="../../Images/mainstreet-img.jpg" alt="Project-One">
                                <div class="img_overly"></div>
                                <a href="#">View Case Study</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Project Section End Here -->
        <div class="testimonial-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-wrapper">
                                <h3>We Serve Customers Globally.</h3>
                                <span>They Love Us</span>
                            </div>
                        </div>
                        <!-- End Here -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="clients-feedback">
                                <ul>
                                    <li>
                                        <figure><img src="../../Images/dennis-yu.png" alt="Dannis-Yu"> </figure>
                                        <div class="client-details">
                                            <div class="client-name">
                                                <p> Dennis Yu </p>
                                            </div>
                                            <div class="designation">
                                                <p>Social Analytics Evangelist, BlitzMetrics </p>
                                            </div>
                                        </div>
                                        <div class="feedback">
                                            <p>At first I was hoping outsourcing would save labor expense and now I see that their work is not only more affordable, but often better than that of our US counterparts. And their responsiveness to project details via phone, instant messenger, and email is better than folks in the next building you'd never know they were multiple time zones away.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><img src="../../Images/sarah-orill.png" alt="Sarah-orill"> </figure>
                                        <div class="client-details">
                                            <div class="client-name">
                                                <p> Sarah Orill </p>
                                            </div>
                                            <div class="designation">
                                                <p>Digital Campaign Manager, CPP Group Plc </p>
                                            </div>
                                        </div>
                                        <div class="feedback">
                                            <p>Net Solutions manage the design and develop a range of digital projects for us. Net Solutions act like an extended part of the team; offering a responsive level of service and high quality work. They really make the whole design and development process easy and I would highly recommend them to anyone.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><img src="../../Images/daniel-wolf.png" alt="daniel-wolf"> </figure>
                                        <div class="client-details">
                                            <div class="client-name">
                                                <p>Daniel Wolfe</p>
                                            </div>
                                            <div class="designation">
                                                <p>Director of R&amp;D, ISAIX </p>
                                            </div>
                                        </div>
                                        <div class="feedback">
                                            <p>The last 4 years working with Net Solutions has really re-enforced our decision to not only outsource but to continue working with them as our partner. We are looking forward to many successful years in this partnership and without hesitation I recommend Net Solutions to any team who is looking forward to scale up and increase their capabilities. </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Here -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-center text-center"> <a href="#" class="btn-req">Request Free Consultation</a> </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Testimonial Section End Here -->
        <div class="blog-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="blog-wrapper">
                                <div class="blog-img">
                                    <figure>
                                        <a href="#">
                                            <img src="../../Images/blog-one.png" alt="Blog">
                                        </a>
                                    </figure>
                                </div>
                                <div class="blog-des">
                                    <a href="#">
                                        Our Top Digital Transformation Insights Of 2016 That Every Business Should Care About            
                                    </a>
                                </div>
                                <div class="btn-sec">
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Here -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="blog-wrapper">
                                <div class="blog-img">
                                    <figure>
                                        <a href="#">
                                            <img src="../../Images/Botcast-Chatbot-for-Business-thumbnail.jpg" alt="Blog">
                                        </a>
                                    </figure>
                                </div>
                                <div class="blog-des">
                                    <a href="#">
                                        Our Top Digital Transformation Insights Of 2016 That Every Business Should Care About            
                                    </a>
                                </div>
                                <div class="btn-sec">
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Here -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="blog-wrapper">
                                <div class="blog-img">
                                    <figure>
                                        <a href="#">
                                            <img src="../../Images/thumbnail3.jpg" alt="Blog">
                                        </a>
                                    </figure>
                                </div>
                                <div class="blog-des">
                                    <a href="#">
                                        Our Top Digital Transformation Insights Of 2016 That Every Business Should Care About            
                                    </a>
                                </div>
                                <div class="btn-sec">
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Here -->
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Blog Section End Here -->
        <div class="full-width-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="left-sec">
                                <h1>Why Work With Us</h1>
                            </div>
                        </div>
                        <!-- End Here -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="right-sec">
                                <div class="content-outer">
                                    <ol>
                                        <li>
                                            <span class="counter">1</span>
                                            <span class="desc">Product<br />DNA</span>
                                        </li>
                                        <li>
                                            <span class="counter">2</span>
                                            <span class="desc">Design Led <br />Engineering Process</span>
                                        </li>
                                        <li>
                                            <span class="counter">3</span>
                                            <span class="desc">Enterprise Class<br />Application Delivery </span>
                                        </li>
                                        <li>
                                            <span class="counter">4</span>
                                            <span class="desc">Full Product<br />Life-Cycle Ownership</span>
                                        </li>
                                        <li>
                                            <span class="counter">5</span>
                                            <span class="desc">Award Winning<br />UX Capability</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Full Width Section End Here -->
        <!--appster-Section start Here -->
        <div class="appster_sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-sec">
                            <h1>why appster is the leading <br>app development firm</h1>
                            <h3>BY THE NUMBER</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="main-wrapper">
                        <div class="col-sm-4">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>27<sup>th</sup></h1>
                                    <figure>
                                        <img src="../../Images/home-adf1.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>DEVELOPMENT STAFF</p>
                                    <span>More Experience & More Developers<br>than Any Other Australian Company</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>221</h1>
                                    <figure>
                                        <img src="../../Images/home-adf2.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>DEVELOPMENT STAFF</p>
                                    <span>More Experience & More Developers<br>than Any Other Australian Company</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>$7.5</h1>
                                    <figure>
                                        <img src="../../Images/home-adf3.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>Million in 9 months</p>
                                    <span>Record Speed for valuation for an<br>Appster Startup.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>45</h1>
                                    <figure>
                                        <img src="../../Images/home-adf4.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>Featured articles</p>
                                    <span>Australia’s Most Recognised & <br /> Respected App Development <br /> Firm from New York Times to<br />  The Australian.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>14k+</h1>
                                    <figure>
                                        <img src="../../Images/home-adf5.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>initial consultations</p>
                                    <span>Entrepreneurs & companies<br /> across the world contact <br />  Appster to develop their<br />  incredible ideas.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>100</h1>
                                    <figure>
                                        <img src="../../Images/home-adf6.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>verified 5 star client<br />reviews</p>
                                    <span>A Stellar Reputation for<br> development, on time & <br /> on budget.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content-wrapper">
                                <div class="content-head">
                                    <h1>$5.1</h1>
                                    <figure>
                                        <img src="../../Images/home-adf7.png" alt="image not found">
                                    </figure>
                                </div>		
                                <div class="content-body">
                                    <p>Billion Executive Team</p>
                                    <span>We have the most<br> experienced executive team <br />  & board in the industry from <br /> Paypal, Aricent, Virgin to Microsoft.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!--appster-Section end Here -->
        <div class="download-sec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="download-text">
                            <h1>Download Our FREE Resources</h1>
                            <p>Our Free Whitepapers cover cutting edge insights and <br>best-practices for building a disruptive app startup</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Download Section End Here  -->
        <div class="flip_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="bxslider">
                            <div class="col-md-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <figure><img src="../../Images/7mistakes_notebook.jpg" alt="Image"></figure>
                                        </div>
                                        <div class="back">
                                            <div class="flip-content">
                                                <h6>Whitepaper</h6>
                                                <h5>Disrupting Healthcare Industry</h5>
                                                <p>How Your HealthTech Startup Can Disrupt the Problem-ridden Trillion-dollar Market</p>
                                                <a href="#">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Here -->
                            <div class="col-md-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <figure><img src="../../Images/accquired_notebook.jpg" alt="Image"></figure>
                                        </div>
                                        <div class="back">
                                            <div class="flip-content">
                                                <h6>Whitepaper</h6>
                                                <h5>Disrupting Healthcare Industry</h5>
                                                <p>How Your HealthTech Startup Can Disrupt the Problem-ridden Trillion-dollar Market</p>
                                                <a href="#">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Here -->
                            <div class="col-md-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <figure><img src="../../Images/banking_corp_notebook3.png" alt="Image"></figure>
                                        </div>
                                        <div class="back">
                                            <div class="flip-content">
                                                <h6>Whitepaper</h6>
                                                <h5>Disrupting Healthcare Industry</h5>
                                                <p>How Your HealthTech Startup Can Disrupt the Problem-ridden Trillion-dollar Market</p>
                                                <a href="#">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Here -->
                            <div class="col-md-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <figure><img src="../../Images/disrupting_google_corp_notebook2.png" alt="Image"></figure>
                                        </div>
                                        <div class="back">
                                            <div class="flip-content">
                                                <h6>Whitepaper</h6>
                                                <h5>Disrupting Healthcare Industry</h5>
                                                <p>How Your HealthTech Startup Can Disrupt the Problem-ridden Trillion-dollar Market</p>
                                                <a href="#">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Here -->
                            <div class="col-md-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <figure><img src="../../Images/healthcare_notebook-2.png" alt="Image"></figure>
                                        </div>
                                        <div class="back">
                                            <div class="flip-content">
                                                <h6>Whitepaper</h6>
                                                <h5>Disrupting Healthcare Industry</h5>
                                                <p>How Your HealthTech Startup Can Disrupt the Problem-ridden Trillion-dollar Market</p>
                                                <a href="#">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Flip Box Section End Here -->
        <div class="contact-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding center">
                        <h1>Get Started</h1>
                        <p>Provide us with your contact details and we will be in touch soon.</p>

                        <form class="contact-form" role="Contact_Form">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="fn" placeholder="Name">
                                </div>
                            </div>
                            <!-- end here -->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="fn" placeholder="Email">
                                </div>
                            </div>
                            <!-- end here -->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="fn" placeholder="Phone">
                                </div>
                            </div>
                            <!-- end here -->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Budget</option>
                                        <option>USD 1000 - USD 2000</option>
                                        <option>USD 2000 - USD 4000</option>
                                        <option>USD 4000 - USD 6000</option>
                                        <option>USD 6000 - USD 10000</option>
                                        <option>USD 10000 - USD 15000</option>
                                        <option>USD 15000 - USD 20000</option>
                                        <option>USD 20000 - USD 25000</option>
                                        <option>USD 25000 - USD 50000</option>
                                        <option>USD 50000+</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end here -->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message" name="fn"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="submit" class="btn btn-default btn-sub" value="Get a Quote">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <!-- Contact Section End Here -->
    </div>
    <!-- Content Section End Here -->
</main>